<!DOCTYPE html>
<html lang="{{ site.lang | default: " en-US" }}">
<head>
    <meta charset="UTF-8">
    {% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <style>
        .center {
            text-align: center;
        }

        .page-header {
            padding: 1em;
        }

        .project-name {
            color: white;
        }

        body {
            background-color: #eddbd7;
        }
    </style>
    <script>
        function showPopup() {
            var popup = document.getElementById("myPopup");
            popup.classList.toggle("show");
        }
    </script>
</head>
<body>
<header class="page-header" role="banner">
    <div style="display: inline-flex;">
        <div style="border-style: solid; border-width: 1px; padding-left: 0.8em; padding-right: 0.8em">
            <a style="color: white" href="https://getpretenst.com/" target="_BLANK">get yours
                <br/>
                <img alt="get pretenst" src="/images/home/getpretenst-icon.jpg" height="64" width="64"/>
            </a>
        </div>
        <a href="/"><h4 class="project-name">&nbsp;&nbsp;{{ site.title }}&nbsp;&nbsp;</h4></a>
        <div style="border-style: solid; border-width: 1px; padding-left: 0.8em; padding-right: 0.8em;">
            <b>say hello!</b>
            <br/>
            <b>pretenst@gmail.com</b>
            <br/>
            <div style="display: inline-flex; text-align: center">
                <a style="color:white" href="{{ site.app_url }}" target="_BLANK">[app]</a>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <a style="color:white" href="{{ site.github.repository_url }}" target="_BLANK">[code]</a>
            </div>
        </div>
    </div>
</header>

<main id="content" class="main-content" role="main">


    <h1 class="project-name center">{{ page.title | default: "" }}</h1>
    <h2 class="project-tagline center">{{ page.description | default: "" }}</h2>

    {{ content }}

    <footer class="site-footer">
        <h2>Projects:</h2>
        {% for page in site.categories.construction %}
        {{page.date | date: "%Y-%m-%d"}}: "<a href="{{ page.url | replace:'.html','' }}">{{ page.title }}</a>":
        <i>{{ page.description }}</i>
        <br>
        {% endfor %}

        <br>
        <a href="/">Back to Homepage</a>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </footer>
</main>
</body>
</html>
