<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  	<style>
	.center {text-align: center;}
    .page-header {padding: 1em; }
    .project-name {color: white; }
	body { background-color: #eddbd7; }
	</style>
  </head>
  <body>
      <header class="page-header" role="banner">
      <div>
        <a style="display: inline-block;" href="{{ site.github.repository_url }}" class="btn">Code</a>
        <a style="display: inline-block; width: 30em" href="/"><h1 class="project-name">{{ site.title }}</h1></a>
        <a style="display: inline-block;" href="{{ site.app_url }}" class="btn">App</a>
  	  </div>
    </header>

    <main id="content" class="main-content" role="main">

      <h1 class="project-name center">{{ page.title |  default: "" }}</h1>
      <h2 class="project-tagline center">{{ page.description  |  default: "" }}</h2>

      {{ content }}

        <h2>Pretenst Constructions:</h2>
          {% for page in site.categories.construction %}
            <strong class="title">
                {{page.date | date: "%Y-%m-%d"}}: "<a href="{{ page.url | replace:'.html','' }}">{{ page.title }}</a>": {{ page.description }}
            </strong>
            <br>
          {% endfor %}
        <h2>Software:</h2>
            {% for page in site.categories.software %}
            <strong class="title">
                {{page.date | date: "%Y-%m-%d"}}: "<a href="{{ page.url | replace:'.html','' }}">{{ page.title }}</a>": {{ page.description }}
            </strong>
            <br>
        {% endfor %}

      <footer class="site-footer">
        If you have questions or other feedback, please contact us <a href="mailto:pretenst@gmail.com?subject=Pretenst%20Tensegrity%20Design">pretenst@gmail.com</a>
      </footer>
    </main>
  </body>
</html>
